<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.onlyknow.toy">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 用于拍照-->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 用于访问 网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 用于设置 网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- 用于访问 WIFI -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 用于设置 WIFI -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 用于访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 用于读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- @style/Theme.AppCompat.NoActionBar -->
    <application
        android:name=".OKApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.OKMainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.OKWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.activity.OKDragPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/translucent" />

        <activity
            android:name=".ui.activity.OKGanKActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <service android:name=".service.OKMainService" />

        <activity
            android:name=".ui.activity.OKSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_oksettings"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OKGanKSearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.activity.OKGanKFavActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fav"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.onlyknow.toy.ui.activity.OKQRCodeScanningActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_qrcode"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.onlyknow.toy.ui.activity.OKGanKSubmitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/act_submit_toolbar"
            android:screenOrientation="portrait" />
    </application>
</manifest>